<h1><%= l(:travel_report_title) %></h1>

<div id="travel-report-form">
  <% form_tag({:action => 'index'}, :method => :get) do %>

    <p>
      <%= l(:label_date_from_to, :start => (text_field_tag('date_from', h(@date_from), :size => 10) + calendar_for('date_from')),
					  :end => (text_field_tag('date_to', h(@date_to), :size => 10) + calendar_for('date_to'))) %>
    </p>

    <p>
      <%= label_tag('user_ids', l(:field_user)) %>
      <%= select_tag('user_ids',
                     options_for_select([[l(:label_all), '']]) +
                     options_from_collection_for_select(User.active.sort,
                                                        :id,
                                                        :name,
                                                        (@user_ids||[]).collect(&:to_i)),
                     :multiple => true,
                     :size => 5) %>
    </p>

    <p><%= submit_tag l(:button_apply) %></p>
  <% end %>
</div>

<% if @travel_approved.present? || @travel_denied.present? %>
  <div id="travel-report">
    <ul id="approved-travel">
      <li><h3><%= l(:travel_report_travel_approved) %></h3></li>
      <% @travel_approved.each do |issue| %>
        <%= content_tag(:li, link_to_issue(issue, :project => true)) %>
      <% end %>
    </ul>

    <ul id="denied-travel">
      <li><h3><%= l(:travel_report_travel_denied) %></h3></li>
      <% @travel_denied.each do |issue| %>
        <%= content_tag(:li, link_to_issue(issue, :project => true)) %>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :header_tags do %>
  <style type="text/css">
    #travel-report ul {list-style-type: none; float:left; width: 45%; }
  </style>
<% end %>
